<template>



  <div class="card card-3">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">

            <div class="col">
              <div class="row row1">{{ciutatActual['list'][0]['main']['temp']}}&deg;</div>
              <div class="row row2"><img class="img-fluid" v-bind:src="'http://openweathermap.org/img/wn/'+icon_0+ '@2x.png' " /></div>
              <div class="row row3">dia 1</div>
            </div>
            <div class="col">
              <div class="row row1">{{ciutatActual['list'][8]['main']['temp']}}&deg;</div>
              <div class="row row2"><img class="img-fluid" v-bind:src="'http://openweathermap.org/img/wn/'+icon_1+ '@2x.png' " /></div>
              <div class="row row3">dia 2</div>
            </div>
            <div class="col">
              <div class="row row1">{{ciutatActual['list'][12]['main']['temp']}}&deg;</div>
              <div class="row row2"><img class="img-fluid"  v-bind:src="'http://openweathermap.org/img/wn/'+icon_2+ '@2x.png' " /></div>
              <div class="row row3">dia 3</div>
            </div>
            <div class="col">
              <div class="row row1">{{ciutatActual['list'][20]['main']['temp']}}&deg;</div>
              <div class="row row2"><img class="img-fluid"  v-bind:src="'http://openweathermap.org/img/wn/'+icon_3+ '@2x.png' " /></div>
              <div class="row row3">dia 4</div>
            </div>
            <div class="col">
              <div class="row row1">{{ciutatActual['list'][28]['main']['temp']}}&deg;</div>
              <div class="row row2"><img class="img-fluid"  v-bind:src="'http://openweathermap.org/img/wn/'+icon_4+ '@2x.png' " /></div>
              <div class="row row3">dia 5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
name: "Forecast",
  props:{
    ciudadSelecionada:String,
  },

  data: function () {
    return {
      ciutatActual: "",
      icon_0: "",
      icon_1: "",
      icon_2: "",
      icon_3: "",
      icon_4: "",
    }
  },


  methods: {
    async getForecast(ciutat) {
      var url = "https://api.openweathermap.org/data/2.5/forecast?q=" + ciutat + "&units=metric&lang=es&appid=d26e513aca410c9d3e09a576db0671ba";

      try {
        var response = await fetch(url);
        var data = await response.json();
        this.ciutatActual = data;
        this.icon_0 = data['list'][0].weather[0]['icon'];
        this.icon_1 = data['list'][8].weather[0]['icon'];
        this.icon_2 = data['list'][12].weather[0]['icon'];
        this.icon_3 = data['list'][20].weather[0]['icon'];
        this.icon_4 = data['list'][28].weather[0]['icon'];

      }
      catch(err) {
        console.log(err);
      }
    },
  },

  created: function() {
    console.log(this.fecha_1)
  },

  mounted: function () {
    this.getForecast(this.ciudadSelecionada);
  },

  watch: {
    ciudadSelecionada () {
      this.getForecast(this.ciudadSelecionada);
    }
  },



}

</script>

<style scoped>

</style>